h1 {
  margin: 20px auto 50px;
  display: table;
}


/* 화면 글 상자 */

.task {
  margin: 20px auto;
  width: 80%;
  border-radius: 20px;
}

.task > ul {
  padding: 15px;
  list-style: none;
  color: white;
  vertical-align: middle;
}

#task1 {
  background-color: #3A3531;
}

/* 마우스 메뉴 */

.context-menus {
  position: absolute;
  display: none;
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

.context-menus.active {
  display: block;
  background-color: white;
}

.context-menus.active>ul>li {
  list-style: none;
  padding: 10px;
}

.context-menus.active>ul>li:hover {
  background-color: lightgreen;
}
