/* 화면 글 상자 */
/* 마우스 메뉴 */

.context-menus {
  padding : 0px;
  position: absolute;
  display: none;
  border: 1px solid grey;
  width: 70px;
  text-align: center;
}

.context-menus.active {
  display: block;
  background-color: #e6e6e6;
}

.context-menus.active>ul>li {
  float : left;
  list-style: none;
  padding: 0px;
  color : blue;
  text-align: left;
}

.context-menus.active>p:hover {
  background-color: #a4a4a4;
}

.context-menus.active>ul>p:hover {
  background-color: #a4a4a4;
}
.context-p {

}
